body{
    font-family: Arial, sans-serif;
}

.title{
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-transform: capitalize;
}

.container{
    text-align: center;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.display{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: black;
    border: solid 5px grey;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    background-color: beige;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: solid 5px black;
    gap:10px;
    justify-content: center;
    margin: 10px;
    
    
}
button{
    width: 100%;
    border: none;
    margin: 4px;
    padding: 20px;
    font-size: 18px;
    
}

.button{
    border: black;
}

.small{
    width: 50%;
    border-radius: 45%;
    padding:20px;
}

.zero{
    grid-area: 5/-5;
    grid-column-start: -5;
    width: 100%;
    grid-column-end: -3;
}
.zeror{
    border:none;
    border-radius: 2em;
}
.btn{
    width:70%;
}


.dot{
    grid-area: 5/-3;
    border-radius: 60%;
    
}

.clear{
    background-color: grey;
    color: white;
    
}

.equals{
    background-color: orange;
    color: white;
    grid-area: 5/-2;
    border-radius: 50px;
   
    
}

.box{
    border: solid 2px black;
    width: 20%;
    height: 20px;
}

.numberInBox{
    margin-left: 1rem;
}
.operators{
background-color: orange;
    grid-column: 4;
    color: white;

}

.highlighted{
    border:2px solid greenyellow;
}

/* Media Query for Phones */
@media (min-width: 365px) and (max-width: 767px) {
    .title {
        font-size: 20px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 300px; 
        margin-left: auto;
        margin-right: auto;
    }

    .display {
        width: 230px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Media Query for tablets */

@media (min-width: 768px) and (max-width:1023px) {
    .title {
        font-size: 30px;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .container {
        width: 680px;
        margin-left: auto;
        margin-right: auto;
    }
    .display{
        width: 610px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width:1200px) {
    .title {
        font-size: 45px;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .display{
        width: 831px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
}

/* Media Query for Large Screens */
@media (min-width: 1200px) {
    .title {
        font-size: 55px;
        margin-top: 100px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .container {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .display{
        width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }
}

