body{
    font-family: Arial, sans-serif;
}

.title{
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.container{
    text-align: center;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border: solid 5px black;
    gap:10px;
    justify-content: center;
    margin: 10px;
    
    
}
button{
    width: 100%;
    border: none;
    margin: 4px;
    padding: 20px;
    font-size: 18px;
    
}

.button{
    border: black;
}

.small{
    width: 50%;
    border-radius: 45%;
    padding:20px;
}

.zero{
    grid-area: 5/-5;
    grid-column-start: -5;
    width: 100%;
    grid-column-end: -3;
}
.zeror{
    border:none;
    border-radius: 2em;
}
.btn{
    width:70%;
}


.dot{
    grid-area: 5/-3;
    border-radius: 60%;
    
}

.clear{
    background-color: grey;
    color: white;
    
}

.equals{
    background-color: orange;
    color: white;
    grid-area: 5/-2;
    border-radius: 50px;
   
    
}
.display{
    width: auto;
    height: auto;
    color: black;
    border: solid 5px grey;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    background-color: beige;
}
.box{
    border: solid 2px black;
    width: 20%;
    height: 20px;
}

.numberInBox{
    margin-left: 1rem;
}
.operators{
background-color: orange;
    grid-column: 4;
    color: white;

}

.highlighted{
    border:2px solid greenyellow;
}
/* Small screens (mobile phones) */
@media screen and (max-width:375px){
    .container{
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media screen and (max-width:375px){
    .display{
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media screen and (max-width:375px){
    .title{
        margin-top: 100px;
        margin-bottom: 40px;
        font-size: 30px;
        text-decoration: underline;
    }  
}
/* Medium screens (tablets) */

@media screen and (min-width:376px) and (max-width:1024px){
    .container{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media screen and (min-width:375px)and (max-width:1024px){
    .display{
        width: 630px;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media screen and (min-width:375px)and (max-width:1024px){
    .title{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 40px;
        text-decoration: underline;
    }  
}

/* large screens (desktops and laptops) */
@media screen and (min-width:1025px)and (max-width:1440px){
    .container{
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }  
}

@media screen and (min-width:1025px)and (max-width:1440px){
    .display{
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }  
}

@media screen and (min-width:1025px)and (max-width:1440px){
    .title{
        margin-top: 20px;
        font-size: 50px;
        text-decoration: underline;
    }  
}
/* Extra large screens (widescreen monitors) */
@media screen and (min-width:1441px){
    .container{
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }  
}

@media screen and (min-width:1441px){
    .display{
        width: 1028px;
        margin-left: auto;
        margin-right: auto;
    }   
}

@media screen and (min-width:1441px){
    .title{
        margin-top: 30px;
        font-size: 70px;
        text-decoration: underline;
    }  
}